.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;
    padding: 50px;
    background-color: white;
    box-shadow: 0 2px 6px 1px rgb(0, 0, 0, .2);
    form {
      display: flex;
      flex-direction: column;
      mat-form-field {
        width: 20vw;
        padding-top: 5%;
      }
    }
    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 10%;

      p {
        margin-top: 10%;
      }
    }
    .title {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }
}
