<div class="container">
  <div class="form-container">
    <div class="title">Login</div>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input [formControlName]="'email'" type="email" matInput>
      </mat-form-field>

      <mat-error *ngIf="loginForm.controls['email'].invalid">
        {{ loginForm.controls['email'].hasError("required") ? "Enter please email" : "Uncorrected email" }}
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input [formControlName]="'password'" type="password" matInput>
      </mat-form-field>

      <mat-error *ngIf="loginForm.controls['password'].invalid">

        <ng-container *ngIf="loginForm.controls['password'].hasError('required')">
          {{ "Enter please password" }}
        </ng-container>

        <ng-container *ngIf="loginForm.controls['password'].hasError('minlength') ">
          {{ "Password must have " + loginForm.controls["password"].errors["minlength"].requiredLength + " or more symbols. You entered " + loginForm.controls["password"].errors["minlength"].actualLength }}
        </ng-container>


      </mat-error>


    </form>

    <div class="buttons-container">
      <button
        mat-raised-button
        class="login-button"
        (click)="authUser(loginForm.value.email)"
        [disabled]="loginForm.invalid"
      >Login</button>
      <p>OR</p>
      <button
        mat-button
        [routerLink]="'/create-account'"
        class="create-login-button"
      >Have no login?</button>
    </div>
  </div>
</div>
