<div class="container">
  <div class="form-container">
    <div class="title">Create an account</div>
    <form [formGroup]="createLoginForm">

      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input [formControlName]="'email'" type="email" matInput>
      </mat-form-field>

      <mat-error *ngIf="createLoginForm.controls['email'].invalid">
        {{ createLoginForm.controls['email'].hasError("required")
        ? "Field must be filled" : "Please enter a valid email"
        }}
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input [formControlName]="'userName'" type="text" matInput>
      </mat-form-field>

      <mat-error *ngIf="createLoginForm.controls['userName'].invalid">
        <ng-container *ngIf="createLoginForm.controls['userName'].hasError('required')">
          {{ "Field must be filled" }}
        </ng-container>
        <ng-container *ngIf="createLoginForm.controls['userName'].hasError('minlength')">
          {{  "Must be " + createLoginForm.controls["userName"].errors["minlength"].requiredLength
        + " or more symbols, you entered "
        +  createLoginForm.controls["userName"].errors["minlength"].actualLength
        + "symbols"}}
        </ng-container>
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input [formControlName]="'password'" type="password" matInput>
      </mat-form-field>

      <mat-error *ngIf="createLoginForm.controls['password'].invalid">
        <ng-container *ngIf="createLoginForm.controls['password'].hasError('required')">
          {{ "Field must be filled" }}
        </ng-container>
        <ng-container *ngIf="createLoginForm.controls['password'].hasError('minlength')">
          {{ "Must be " + createLoginForm.controls["password"].errors["minlength"].requiredLength
        + " or more symbols. You entered "
        + createLoginForm.controls["password"].errors["minlength"].actualLength
        + " symbols" }}
        </ng-container>
      </mat-error>

    </form>

    <div class="buttons-container">
      <button
        mat-raised-button
        class="login-button"
        (click)="addUser(createLoginForm.value)"
        [disabled]="createLoginForm.invalid"
      >Create account</button>
      <p>OR</p>
      <button
        mat-button
        [routerLink]="'/login'"
        class="create-login-button"
      >Already have an account?</button>
    </div>
  </div>
</div>

