<div class="nav-container">
  <div class="branding">
    <a [routerLink]="'/'">
      Social Wall
    </a>
  </div>
<!--  <div class="side">-->
<!--        <a [routerLink]="'/login'">Login</a>-->
<!--        <a [routerLink]="'/create-account'">Create Account</a>-->
<!--  </div>-->
  <div class="account">
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</div>
