.nav-container {
    display: flex;
    //flex-direction: row;
    background-color: cornflowerblue;
    color: wheat;
    width: 100vw;
    height: 10vh;
    font-size: 22px;
    padding: 0;

    .branding {
      padding: 20px 10px 10px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
      font-weight: 800;
      letter-spacing: 1px;
      box-shadow: 0 8px 6px -6px rgba(153, 153, 153, .8);
    }

    .side {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
    }

  .account {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    align-items: center;
    padding-right: 20px;
  }

  }

  a {
     color: wheat;
  }

