/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
